In [ ]:
import requests
from bs4 import BeautifulSoup
import csv


teams_dic = []


def scraper():
    for page in range(1, 25):
        link = f"https://www.scrapethissite.com/pages/forms/?page_num={page}"
        response = requests.get(link)
        soup = BeautifulSoup(response.text, 'html.parser')

        all_wins = soup.find_all(class_="wins")
        all_years = soup.find_all(class_="year")
        all_teams = soup.find_all(class_="name")
        for year, win, name in zip(all_years, all_wins, all_teams):
            teams_dic.append({
                "year": year.text.strip(),
                "win": win.text.strip(),
                "name": name.text.strip()
            })
        
    return teams_dic
    
scraper()

csv_file = ".../hokey_teams.csv"

with open(csv_file, "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["year", "wins", "name"])

    for team_data in teams_dic:
        writer.writerow([
            team_data["year"], 
            team_data["win"], 
            team_data["name"]
        ])

In [66]:
import pandas as pd

In [ ]:
file_csv = ".../hokey_teams.csv"
csv = pd.read_csv(file_csv)



df = pd.DataFrame(csv)
df

     year  wins                 name
0    1990    44        Boston Bruins
1    1990    31       Buffalo Sabres
2    1990    46       Calgary Flames
3    1990    49   Chicago Blackhawks
4    1990    34    Detroit Red Wings
..    ...   ...                  ...
577  2011    38  Tampa Bay Lightning
578  2011    35  Toronto Maple Leafs
579  2011    51    Vancouver Canucks
580  2011    42  Washington Capitals
581  2011    37        Winnipeg Jets

[582 rows x 3 columns]

In [ ]:
#Scrape the data (find a way to obtain all data from a pages programmatically)
#Store the entire data as CSV file.
#Load it with pandas.
#Give answers to the questions above by making use of the DataFrame class.


#How made the most "wins" in 1990, 2000, and 2010
print(df.loc[df[df["year"]==1990]["wins"].idxmax(), "name"],"-1990-\n"
,df.loc[df[df["year"]==2000]["wins"].idxmax(), "name"],"-2000-\n"
,df.loc[df[df["year"]==2010]["wins"].idxmax(), "name"],"-2010-")

Chicago Blackhawks -1990-
 Colorado Avalanche -2000-
 Vancouver Canucks -2010-

In [159]:
#How many teams participated in 1991, 2001, and 2011?
print(len(df.loc[df["year"]== 1991]), "Teams in 1991")
print(len(df.loc[df["year"]== 2001]), "Teams in 2001")
print(len(df.loc[df["year"]== 2011]), "Teams in 2011")

22 Teams in 1991
30 Teams in 2001
30 Teams in 2011