In [67]:
import re
import pandas as pd


csv_path_contacts = "/Users/ihsanbolum/dis08-ws2526_Boeluem_Ihsan/labs/06/csv/contacts.csv"
csv_path_orders = "/Users/ihsanbolum/dis08-ws2526_Boeluem_Ihsan/labs/06/csv/orders.csv"

csv_contacts = pd.read_csv(csv_path_contacts)
csv_contacts.head()

,name,address,email,phone
0,Uma Rios,"413-2451 Lobortis, Rd.",augue.ac@hotmail.couk,(836) 811-6616
1,Herman Patel,2877 Nec Avenue,adipiscing.lacus.ut@protonmail.net,(221) 605-4530
2,Fritz Mckee,Ap #350-8665 Ultricies Av.,placerat.velit@protonmail.com,(424) 937-3765
3,Robert Melendez,Ap #988-4035 Mi St.,sodales.elit@outlook.com,(751) 973-6476
4,Calista Carter,Ap #891-4549 Massa. St.,tristique.neque@hotmail.org,(235) 444-8645

In [68]:
#Extract all email addresses from the text.
df = pd.DataFrame(csv_contacts)
df["email"]

0                   augue.ac@hotmail.couk
1      adipiscing.lacus.ut@protonmail.net
2           placerat.velit@protonmail.com
3                sodales.elit@outlook.com
4             tristique.neque@hotmail.org
                     ...
95                    ultricies@yahoo.com
96                    aliquam@hotmail.org
97                  sed.pede.nec@aol.couk
98    varius.nam.porttitor@protonmail.edu
99                      leo.morbi@aol.com
Name: email, Length: 100, dtype: object

In [69]:
#Extract all phone numbers from the text.
df["phone"]

0     (836) 811-6616
1     (221) 605-4530
2     (424) 937-3765
3     (751) 973-6476
4     (235) 444-8645
           ...
95    (108) 368-3267
96    1-455-448-1775
97    (273) 843-5131
98    (572) 547-5575
99    (433) 308-6684
Name: phone, Length: 100, dtype: object

In [70]:
#Extract all names that start with the letter ‘J’.

df.loc[df["name"].str.match(r"^J"), "name"]

8        James Monroe
25       John O'Neill
33    Jameson Wallace
51      Jamal Parsons
67       Judah Branch
80        Jaquelyn Le
93      Jenna Herrera
Name: name, dtype: object

In [71]:
#Extract all street names that contain the word 'St'.
df.loc[df["address"].str.match(r".*St.*")]

,name,address,email,phone
3,Robert Melendez,Ap #988-4035 Mi St.,sodales.elit@outlook.com,(751) 973-6476
4,Calista Carter,Ap #891-4549 Massa. St.,tristique.neque@hotmail.org,(235) 444-8645
5,Maris Patrick,799-5917 Erat St.,purus.in@yahoo.net,1-216-210-2453
7,Grant Hodge,5182 Penatibus St.,placerat@hotmail.net,1-668-811-3565
10,Sandra O'donnell,Ap #271-6656 Sollicitudin Street,sem.mollis@protonmail.edu,(633) 561-2222
20,Dora Diaz,6564 Proin Street,maecenas.libero.est@google.couk,1-445-247-4964
21,Latifah Reed,Ap #397-8170 Libero St.,metus.in.lorem@outlook.ca,1-832-643-6786
22,Kaye Mitchell,915-3764 Est St.,nullam.velit.dui@aol.couk,(430) 249-1364
29,Harrison Day,"P.O. Box 462, 1623 Nec Street",nulla.integer.vulputate@icloud.edu,(873) 788-9710
31,Bryar Parks,"P.O. Box 113, 6239 Augue St.",mauris.non@protonmail.net,1-648-738-4794
33,Jameson Wallace,"P.O. Box 101, 7533 Senectus Street",dui.nec@yahoo.net,1-152-482-1963
35,Debra Wise,Ap #715-6617 Dolor Street,vel.nisl.quisque@aol.edu,(811) 308-2587
38,Noelani Oneil,106-627 Consequat St.,ipsum.dolor.sit@aol.org,(710) 187-2256
39,Bruce Mooney,Ap #373-3604 Mollis. Street,nostra.per@aol.com,(675) 372-1176
40,Brielle Castro,669-6549 Morbi St.,ac.ipsum@yahoo.ca,(740) 362-4105
42,Lionel Reid,Ap #639-6437 Dolor. Street,et.rutrum@icloud.couk,(678) 955-5583
44,Brielle Herman,"2537 Ornare, St.",ipsum.primis@hotmail.org,1-614-767-1851
49,Ferris Cervantes,Ap #697-9528 Aliquet St.,malesuada@outlook.com,1-236-479-3538
58,Carlos Thornton,227-1473 Porttitor Street,sagittis.placerat.cras@yahoo.com,1-127-824-4671
59,Kevin Serrano,408-7191 Nec Street,aliquam.adipiscing.lobortis@google.ca,(553) 534-2804
60,Galvin Daniel,Ap #961-2908 Erat St.,nullam@outlook.net,1-485-516-7822
62,Scott Hartman,"P.O. Box 245, 7116 Amet St.",commodo.hendrerit@hotmail.couk,(836) 763-3572
64,Reece Rivers,120-5863 At St.,aenean@google.edu,(841) 768-0531
72,Dawn Rodgers,"P.O. Box 283, 4695 Aliquam St.",semper@icloud.org,1-638-850-8809
74,Norman Waller,7360 Neque Street,senectus.et.netus@icloud.com,1-452-216-8119
75,Latifah Booker,360-8053 Dapibus St.,cubilia.curae.phasellus@hotmail.net,1-615-465-5506
80,Jaquelyn Le,"Ap #506-313 Egestas, Street",felis.purus.ac@protonmail.net,(227) 715-5459
85,Baker Avery,Ap #146-8548 Sed St.,volutpat.nulla@google.net,(956) 351-3724
87,Mia Kinney,"P.O. Box 450, 9508 Risus. St.",etiam.bibendum@hotmail.com,1-869-798-0813
88,Hyatt Drake,9709 Quisque St.,odio@yahoo.edu,1-868-331-1980
90,Aileen Cochran,Ap #806-7090 Massa. St.,sed.nunc@aol.couk,1-301-323-0477
91,Clare Hansen,Ap #987-1774 Non Street,dui.augue@outlook.org,1-788-814-5232

In [ ]:
#Extract the last names of all people.
df["name"].str.extract(r"\s+(\S+)")

            0
0         Uma
1      Herman
2       Fritz
3      Robert
4     Calista
..        ...
95    Barrett
96  Britanney
97     Haviva
98    Latifah
99     Connor

[100 rows x 1 columns]

In [74]:
#Extract all email domains (part after the @ sign).
df["email"].str.extract(r"@(\S+)")

                 0
0     hotmail.couk
1   protonmail.net
2   protonmail.com
3      outlook.com
4      hotmail.org
..             ...
95       yahoo.com
96     hotmail.org
97        aol.couk
98  protonmail.edu
99         aol.com

[100 rows x 1 columns]

In [88]:
#Find all entries where the phone number ends with ‘7’.
df[df["phone"].str.endswith(r"7")]

,name,address,email,phone
26,Hamilton Palmer,"P.O. Box 250, 9100 Nunc Rd.",massa.non@google.net,(746) 275-2337
35,Debra Wise,Ap #715-6617 Dolor Street,vel.nisl.quisque@aol.edu,(811) 308-2587
53,Reed Wilder,"Ap #486-9308 At, Road",cursus.integer@hotmail.com,(696) 773-5037
56,Ashely Morgan,797-3522 Fames Rd.,lobortis.class@yahoo.ca,(343) 698-0617
77,Ivory Cantu,Ap #512-8744 Lectus Avenue,aliquet.molestie@protonmail.ca,(366) 231-7987
90,Aileen Cochran,Ap #806-7090 Massa. St.,sed.nunc@aol.couk,1-301-323-0477
95,Barrett Mcfadden,3445 Et Rd.,ultricies@yahoo.com,(108) 368-3267

In [120]:
#Extract all instances of first names that end with the letter 'e'.
df["vorname"] = df["name"].str.extract(r"(\S+)\s+")

df[df["vorname"].str.endswith(r"e")]

,name,address,email,phone,vorname
11,Vance Sellers,771-1102 Sollicitudin Rd.,dui.fusce.diam@hotmail.couk,1-946-737-5281,Vance
14,Reese Newman,987-6959 Interdum. Road,dictum.eu@aol.edu,(573) 457-2876,Reese
22,Kaye Mitchell,915-3764 Est St.,nullam.velit.dui@aol.couk,(430) 249-1364,Kaye
39,Bruce Mooney,Ap #373-3604 Mollis. Street,nostra.per@aol.com,(675) 372-1176,Bruce
40,Brielle Castro,669-6549 Morbi St.,ac.ipsum@yahoo.ca,(740) 362-4105,Brielle
44,Brielle Herman,"2537 Ornare, St.",ipsum.primis@hotmail.org,1-614-767-1851,Brielle
48,Kylie Levy,"Ap #374-4908 Quam, Ave",pellentesque.massa@outlook.com,(387) 415-4632,Kylie
64,Reece Rivers,120-5863 At St.,aenean@google.edu,(841) 768-0531,Reece
65,Bree Owen,Ap #176-5922 Enim Rd.,leo.vivamus.nibh@aol.org,(638) 185-3708,Bree
84,Cade Bradshaw,"P.O. Box 299, 9353 Aliquet. Avenue",aliquet.odio@yahoo.couk,(448) 542-7818,Cade
91,Clare Hansen,Ap #987-1774 Non Street,dui.augue@outlook.org,1-788-814-5232,Clare

# Orders.csv

In [134]:
#Extract all order numbers from the text.
#Extract all product codes.
#Extract all prices.
#Extract all order dates.

def order_numbers():
    orders = pd.read_csv(csv_path_orders)

    print("oreder Numbers: \n",orders["order_number"], "Product Codes \n", orders["product_code"], "Prices \n", orders["price"], "Order Dates \n", orders["order_date"])

if __name__ == "__main__":
    order_numbers()

oreder Numbers:
 0     913D6853-D43D-7847-31B3-2BBD8B67318E
1     38139EAB-D7B8-7A66-2283-57136C174506
2     C994DE2B-9E23-B690-9854-91D7CB16CD81
3     494166EE-43B1-ED00-576C-A5344A6A2695
4     6EB66922-DC64-1865-BA11-8391D91481D5
                      ...
95    D163A0A6-4111-22C5-3EF0-432925A85491
96    4E6DD357-438E-C5B2-79A9-3A8BE9C84A9C
97    E4A9A2E1-52DA-24AA-7924-AD44C5F25663
98    A8FC5228-0F9F-67D5-6AC5-55BB39072EA6
99    BB79E955-8BC9-C533-BB3C-153459BFC2D1
Name: order_number, Length: 100, dtype: object Product Codes
 0     KPT62OVE7BS
1     QNI12WUN3CD
2     WCY48VND3EX
3     XEC54CXI3AG
4     IMF54TDN1JR
         ...
95    WNS87HPG9EE
96    FPJ78RKE3ZX
97    TFZ54QAM5NR
98    EBN63YUL5LT
99    VVO15XLY7QW
Name: product_code, Length: 100, dtype: object Prices
 0     $449.87
1     $902.53
2     $461.70
3     $658.46
4     $655.72
       ...
95    $600.16
96    $110.99
97    $851.70
98    $961.45
99    $278.94
Name: price, Length: 100, dtype: object Order Dates
 0     03/13/2025
1     07/05/2025
2     08/05/2025
3     01/30/2025
4     04/04/2025
         ...
95    01/13/2025
96    09/21/2025
97    05/04/2025
98    05/17/2025
99    09/24/2025
Name: order_date, Length: 100, dtype: object

In [150]:
#Find all orders for products priced over $500.


orders = pd.read_csv(csv_path_orders)
orders["price"] = orders["price"].str.extract(r"\$(\d+\.\d+)").astype(float)

orders[orders["price"] > 500]

,product_code,order_number,price,number_of_items,order_date
1,QNI12WUN3CD,38139EAB-D7B8-7A66-2283-57136C174506,902.53,3,07/05/2025
3,XEC54CXI3AG,494166EE-43B1-ED00-576C-A5344A6A2695,658.46,7,01/30/2025
4,IMF54TDN1JR,6EB66922-DC64-1865-BA11-8391D91481D5,655.72,8,04/04/2025
6,CTS23VKM0HQ,75E0D2B7-CCE8-20A7-68BB-2EAB73599AC9,826.02,2,08/12/2025
7,QET08DJU7PM,69899781-1889-9979-4785-1CF8DC64F606,508.56,8,04/08/2025
8,COO14PMT4VM,F459BA97-4EA3-4724-34A9-267E57CBF533,746.35,9,03/28/2025
9,NHU70QWB4NF,80B3E838-9416-082B-3594-BB6B86DAE874,854.44,8,08/29/2025
16,KXW13GBV6YU,94894E91-1364-4897-53DB-4C35F8DE4B11,594.33,7,05/15/2025
18,QBT75SEU9EV,E604E618-FA56-83E8-3A11-881220EA5656,636.91,2,06/01/2025
19,EYQ86OKC0US,5BDA4B85-64FB-4F99-71BC-CB101A5C51F7,850.72,3,02/28/2025
20,ZLO83MHB3EH,D65E2D39-9299-B3D0-74BB-1BD762E59699,666.12,9,02/13/2025
21,DAK65QXK8ZJ,B7E1DBCD-D216-AA84-724E-5D8C4818D3A4,762.15,4,09/24/2025
25,PGG42TKG2QW,DECC9E21-A15A-8FD9-37D6-EF4A148294BF,597.64,2,05/15/2025
26,BRF08UXC4EZ,9979E439-F489-7872-572C-99BFE129B231,595.82,10,01/10/2025
27,OJD81MVD2GC,C7274D76-EB94-E049-A64D-A8C45AE3830A,515.65,3,09/04/2025
29,FLZ43DQE8ZF,5E99C449-50E7-7ED6-7B5B-D03EBBA17CEE,523.30,7,05/15/2025
32,UZQ24QCU5NV,431F7D2D-555E-6904-648E-D247221BD535,533.52,5,03/07/2025
36,YNF86MAN8JV,57BF7372-5634-87FD-3562-CCEE968AE18A,733.96,5,07/09/2025
39,LSL72LFN9PY,4C731F95-5721-CDC7-CBB6-7A9A5723CE82,815.01,3,07/12/2025
40,BVF33WBS2NJ,52779E92-A4A2-DAD0-B8CB-38ABB9823B82,824.01,4,06/23/2025
41,ICC48AKQ2JE,1E149108-8A1F-28A5-55CD-DEBA49ABE889,957.11,8,01/11/2025
42,YGQ04QHR1CK,AD1E48EB-CC56-8B5F-443D-69D6EDEC181E,794.39,3,08/27/2025
43,HDH68PBA2CK,B6D4D6E8-E0C9-F4B3-59AD-EE24DCEFE4CE,920.64,9,06/24/2025
45,QTT37GSZ9IW,2782CE19-85A6-F38D-198C-5BD2CEC2149B,873.22,7,07/10/2025
46,DTB78VKF2LT,647E372C-1DD2-B087-DB77-A7FD538C743A,672.06,8,06/12/2025
47,ZHP55SRU4LY,74024862-69E7-F3DE-F3F7-8442249D43E9,725.68,8,07/08/2025
48,FIK61MIS2BC,BC2BDD57-62E5-3285-52CA-E1E2EF5A5A8E,737.96,9,05/22/2025
51,HON34JEH8QD,BE95A84C-E496-29E3-2815-AD70C563F0AD,926.38,8,06/24/2025
52,MLP92NUV7QC,2D3B985C-33B4-CB40-4B98-553CDAA47715,781.35,6,07/27/2025
55,VUW62VIK9PY,72D23817-210D-289E-9798-B6F74F927795,626.78,4,07/01/2025
56,VED84HOY4XU,58C521E5-270B-D323-66A7-219AA1C23BC3,604.40,9,02/15/2025
57,APB40BQM0KQ,5BD9AC25-2392-9F7E-E4A5-C79344C70C72,831.28,5,03/10/2025
58,PHT27ODJ8NN,4327C7A2-C848-B4BE-5851-62815A7FE984,997.50,7,08/06/2025
60,GYU48AHY0SR,F7B8C683-9DC9-AEB2-A962-67CB94E9DCD4,521.13,8,03/12/2025
61,BSN73TDC1ID,788C6241-9E74-2F16-1EAC-7EAFEA97848C,971.62,8,03/20/2025
62,LIC86LIB8ZQ,2BD16188-4345-3785-BD15-A95782E32DD4,781.22,6,01/29/2025
63,RBI93QCQ5EX,6FF65E38-5FC0-7436-E0D2-AEB082ACA3FA,553.15,10,07/05/2025
64,FGM39TVW5GY,D4C2365B-6DEC-404A-8005-64783CE9A27E,918.08,2,09/06/2025
66,WPK49NYD4FC,86971494-808C-D6D0-BFA1-04846D123A62,730.81,1,08/10/2025
67,NAC58SWB5BS,754A965D-B45E-B949-6658-D575BCF78DDE,825.13,6,01/12/2025
68,DBM78XUI4LG,A2B64252-D584-3263-2091-92933529AD7A,598.54,8,01/02/2025
69,MGO51MTB8TM,4557E7B3-1DAE-2D85-39D3-C9CC6858719D,905.42,3,08/30/2025
72,UUD61FHK1VY,6EC5B392-A87E-BAA4-C8A3-E72D7196567C,819.38,8,09/24/2025
76,YGW97BTV3ZX,3E3214CA-9EB2-A66F-1C73-6A5A755DC496,770.10,7,07/20/2025
77,IYD77EII1CU,08356C7C-9D4B-8E26-5554-D63EA14A4C5D,977.02,9,06/27/2025
79,JEH76BZK6LW,DB5EEB73-DA58-4C7D-81CA-5147595A7CD5,637.42,4,06/05/2025
80,AUP87NKV8IE,DE3C4D2B-72DA-C27A-4437-09F1CA5E1D0A,827.09,5,02/03/2025
85,ZEW65FQV8DE,B52BB1A3-55B2-ABB2-7008-1279D45E6AF9,995.42,4,06/11/2025
86,VNY17BRU7MB,0B995A66-6669-38E9-B531-4DFBB1650279,705.56,4,08/21/2025
88,KCP17OKT6WR,A49449D1-29DE-D7C5-42B1-D56381F8158B,510.46,10,06/08/2025
90,VFA34UJE5EQ,BE1D3D9F-6C61-784A-B3C1-D97A0DC20C11,555.45,1,07/30/2025
93,DFP91EYM5MD,E64EAECE-978C-4B56-A967-05A2F92C6272,969.04,5,09/05/2025
95,WNS87HPG9EE,D163A0A6-4111-22C5-3EF0-432925A85491,600.16,4,01/13/2025
97,TFZ54QAM5NR,E4A9A2E1-52DA-24AA-7924-AD44C5F25663,851.70,2,05/04/2025
98,EBN63YUL5LT,A8FC5228-0F9F-67D5-6AC5-55BB39072EA6,961.45,9,05/17/2025